<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- Initialization for data source -->
    <bean id="dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- Definition JdbcTemplate beans -->
    <bean id="destinationJdbcTemplate" class="cz.muni.ics.JdbcTemplates.DestinationJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="extSourceJdbcTemplate" class="cz.muni.ics.JdbcTemplates.ExtSourceJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

     <bean id="facilityJdbcTemplate" class="cz.muni.ics.JdbcTemplates.FacilityJdbcTemplate">
         <property name="dataSource" ref="dataSource" />
     </bean>

    <bean id="groupJdbcTemplate" class="cz.muni.ics.JdbcTemplates.GroupJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="hostJdbcTemplate" class="cz.muni.ics.JdbcTemplates.HostJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="memberJdbcTemplate" class="cz.muni.ics.JdbcTemplates.MemberJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="resourceJdbcTemplate" class="cz.muni.ics.JdbcTemplates.ResourceJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="serviceJdbcTemplate" class="cz.muni.ics.JdbcTemplates.ServiceJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userJdbcTemplate" class="cz.muni.ics.JdbcTemplates.UserJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userExtSourceJdbcTemplate" class="cz.muni.ics.JdbcTemplates.UserExtSourceJdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id = "voJdbcTemplate"
          class = "cz.muni.ics.JdbcTemplates.VoJdbcTemplate">
        <property name = "dataSource" ref="dataSource" />
    </bean>

    <bean id="query" class="cz.muni.ics.models.Query">
        <constructor-arg name="destinationJdbcTemplate" ref="destinationJdbcTemplate" />
        <constructor-arg name="extSourceJdbcTemplate" ref="extSourceJdbcTemplate" />
        <constructor-arg name="facilityJdbcTemplate" ref="facilityJdbcTemplate" />
        <constructor-arg name="groupJdbcTemplate" ref="groupJdbcTemplate" />
        <constructor-arg name="hostJdbcTemplate" ref="hostJdbcTemplate" />
        <constructor-arg name="memberJdbcTemplate" ref="memberJdbcTemplate" />
        <constructor-arg name="resourceJdbcTemplate" ref="resourceJdbcTemplate" />
        <constructor-arg name="serviceJdbcTemplate" ref="serviceJdbcTemplate" />
        <constructor-arg name="userExtSourceJdbcTemplate" ref="userExtSourceJdbcTemplate" />
        <constructor-arg name="userJdbcTemplate" ref="userJdbcTemplate" />
        <constructor-arg name="voJdbcTemplate" ref="voJdbcTemplate" />
    </bean>

</beans>