<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- Initialization for data source -->
    <bean id="dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- Definition JdbcTemplate beans -->

    <bean id="extSourceDAO" class="cz.muni.ics.DAOs.impl.ExtSourceDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

     <bean id="facilityDAO" class="cz.muni.ics.DAOs.impl.FacilityDAOImpl">
         <property name="dataSource" ref="dataSource" />
     </bean>

    <bean id="groupDAO" class="cz.muni.ics.DAOs.impl.GroupDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="hostDAO" class="cz.muni.ics.DAOs.impl.HostDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="memberDAO" class="cz.muni.ics.DAOs.impl.MemberDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="ownerDAO" class="cz.muni.ics.DAOs.impl.OwnerDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="resourceDAO" class="cz.muni.ics.DAOs.impl.ResourceDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="serviceDAO" class="cz.muni.ics.DAOs.impl.ServiceDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userDAO" class="cz.muni.ics.DAOs.impl.UserDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userExtSourceDAO" class="cz.muni.ics.DAOs.impl.UserExtSourceDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id = "voDAO" class="cz.muni.ics.DAOs.impl.VoDAOImpl">
        <property name = "dataSource" ref="dataSource" />
    </bean>

    <bean id="relationDAO" class="cz.muni.ics.DAOs.impl.RelationsDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="query" class="cz.muni.ics.models.Query">
        <constructor-arg name="extSourceDAO" ref="extSourceDAO" />
        <constructor-arg name="facilityDAO" ref="facilityDAO" />
        <constructor-arg name="groupDAO" ref="groupDAO" />
        <constructor-arg name="hostDAO" ref="hostDAO" />
        <constructor-arg name="memberDAO" ref="memberDAO" />
        <constructor-arg name="ownerDAO" ref="ownerDAO" />
        <constructor-arg name="relationsDAO" ref="relationDAO" />
        <constructor-arg name="resourceDAO" ref="resourceDAO" />
        <constructor-arg name="serviceDAO" ref="serviceDAO" />
        <constructor-arg name="userExtSourceDAO" ref="userExtSourceDAO" />
        <constructor-arg name="userDAO" ref="userDAO" />
        <constructor-arg name="voDAO" ref="voDAO" />
    </bean>

</beans>