<configuration packagingData="false" debug="false" scan="false" scanPeriod="30 seconds">
    <variable name="LOGDIR" value="${perun-search.log:-/var/log/perun/}"/>

    <variable name="ENCODER_PATTERN" value="%date [%thread] %-5level %logger{35} - %msg%n"/>

    <variable name="MAXHISTORY" value="7"/>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-search">
        <file>${LOGDIR}perun-search.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGDIR}perun-search.log.%d.%i</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="cz.muni.ics" level="debug" additivity="false">
        <appender-ref ref="perun-search"/>
    </logger>

</configuration>